html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
      margin-left: 40%;
}

.sidebar {
	height: 100%;
	width: 40%;
	position: absolute;
	background-color: #ffffff;
}

h2 {
      font-size: 16px;
      text-align: center;
}

a {
      font-size: 8px;
      position: absolute;
      left: 10px;
      top: 300px;
}

button, select {
      font-size: 14px;
      margin-left: 10%;
      width: 80%;
}

select {
      margin-bottom: 20px;
}

      		