html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 90%;
}

.sidebar {
	height: 100%;
	width: 35%;
	position: absolute;
	background-color: #ffffff;
	opacity: .9;
	z-index: 1;
}

h2 {
      font-size: 16px;
      text-align: center;
}

button, select {
      font-size: 14px;
      margin-left: 10%;
      width: 80%;
}

select {
      margin-bottom: 20px;
}

      		